.recommendation-section {
    background: #FBF4E2;
    border-radius: 50px;
    background-image: url('../../images/banner-element.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

.recommendation-box {
    border-radius: 8px;
    color: rgba(70, 60, 116, 0.5);
    font-size: 18px;
}

.recommendation-button {
    border-radius: 8px;
    font-size: 18px;
}