@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins&family=Rasa&display=swap');

/* colors */
.primary-color {
    color: #463C74;
}

.secondary-color {
    color: #B4D51E;
}

.lightergray-color {
    color: #bdbdbd
}

.lightgray-color {
    color: #828282;
}

.gray-color {
    color: #666666;
}

.black-color {
    color: rgba(0, 0, 0, 0.6);
}

/* background colors */
.primary-bg {
    background-color: #463C74;
}

.secondary-bg {
    background-color: #B4D51E;
}

/* fonts */
.f-merriweather {
    font-family: 'Merriweather', serif;
}

.f-inter {
    font-family: 'Inter', sans-serif;
}

.f-rasa {
    font-family: 'Rasa', serif;
}

.f-opensans {
    font-family: 'Open Sans', sans-serif;
}

.f-poppins {
    font-family: 'Poppins', sans-serif;
}

/* button */
.button:hover {
    background-color: #B4D51E;
}

.button:active {
    background-color: #B4D51E;
}

.button:focus {
    background-color: #B4D51E;
    box-shadow: 0 0 0 0.25rem rgb(180 213 30 / 25%);
}

.button:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(180 213 30 / 25%);
}

.link-button:focus {
    box-shadow: none;
}

/* input field */
.input-field {
    border: 2px solid #F5F5F5;
    border-radius: 5px;
}

.input-field:focus {
    border-color: rgb(180 213 30 / 50%);
    box-shadow: 0 0 0 0.25rem rgb(180 213 30 / 25%);
}