@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.primary-color {
    color: #463C74;
}

.secondary-color {
    color: #B4D51E;
}

.primary-bg {
    background-color: #463C74;
}

.secondary-bg {
    background-color: #B4D51E;
}

.f-merriweather {
    font-family: 'Merriweather', serif;
}

.button:hover {
    background-color: #B4D51E;
}

.button:active {
    background-color: #B4D51E;
}

.button:focus {
    background-color: #B4D51E;
    box-shadow: 0 0 0 0.25rem rgb(180 213 30 / 25%);
}

.button:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(180 213 30 / 25%);
}